body{
  font: 15px/1.5, Arial,Helvetica;
  padding: 0;
  margin: 0;
  /*background-color: #00FFFF;*/
}

header{
  background: url(img3.jpg) ;
  background-repeat: no-repeat;
  background-size:100%;
  height: 150px;
  border-bottom: #e8491d 3px solid;
  margin-bottom: 0;

}
.navbar{
  margin-bottom: 0px;
}
h1,h3,h2{
  text-align: center;
  margin-top: 10px;
  padding: 5px;
}
h1,h2{
  color: #8B008B;
  font-size: 60px;
  text-shadow: 3px 2px white;
}
#pic1{
  margin-left: 30%;
  width: 400px;

}
#logo-right{
  float: left;
  margin-top:15px;
  margin-left: 0px;
  /*margin-bottom:px;*/

}
footer{
  text-align: center;
  padding:10px;
  background-color:	#F08080;
  color:white;
  font-size: 20px;
}

body, html {height: 100%}
.bgimg {
background-image: url('img2.jpg');
min-height: 100%;
background-position: center;
background-size: cover;
}
 .c1:hover{
   background: #6495ED !important;
  color: black !important;
  font-size:20px;
 }
 .dropdown:hover .dropdown-menu{
   display: block;
 }
 .s1:hover{
   font-weight: bold;
 }
